<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="d-flex justify-content-center">
    <h1>Password Generator</h1>
</div>
<div class="d-flex justify-content-center">
    <form action="{% url 'generator' %}">
        <br>
        <select name="length">
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12 selected="selected">12</option>
        </select> Length
        <br>
        <input type="checkbox" name="uppercase"> Uppercase
        <br>
        <input type="checkbox" name="numbers"> Numbers
        <br>
        <input type="checkbox" name="special"> Special
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <input type="submit" value="OK" class="btn btn-info">
        </div>
    </form>
</div>